<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="col-sm-offset-3 col-sm-9 centered">Flight Booking</h1>
      <%= render 'search_form' %>
        
    <% unless @flights.nil? || @flights.size == 0 %>

      <%= render 'search_results' %>
    <% end %>
  </div>
</div>
